<div class="container">
 
    <div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
        </div>
    </div>
 
    <app-read-employees
        *ngIf="show_read_employees_html"
        (show_create_employee_event)="showCreateEmployee($event)"
        (show_get_employee_event)="showGetEmployee($event)"
        (show_update_employee_event)="showUpdateEmployee($event)"
        (show_delete_employee_event)="showDeleteEmployee($event)">
    </app-read-employees>

    <app-create-employee
        *ngIf="show_create_employee_html"
        (show_read_employees_event)="showReadEmployees($event)">
    </app-create-employee>

    <app-get-employee
        *ngIf="show_get_employee_html"
        (show_read_employees_event)="showReadEmployees($event)"
        [employee_id]="employee_id">
    </app-get-employee>

    <app-update-employee
        *ngIf="show_update_employee_html"
        [employee_id]="employee_id"
        (show_read_employees_event)="showReadEmployees($event)">
    </app-update-employee>

    <app-delete-employee
        *ngIf="show_delete_employee_html"
        [employee_id]="employee_id"
        (show_read_employees_event)="showReadEmployees($event)">
    </app-delete-employee>
 
</div>
